<div class="row">
  <div class="col-md-6 justify-content-center">
    <h1> <%= @photo.photo_identifier %> </h1>
    <%= image_tag @photo.photo_url unless @photo.photo.file.nil? %>
    <%= image_tag @photo.photo_url(:thumb) unless @photo.photo.file.nil? %>
  </div>
</div>
